<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - FISH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FISH", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("Book Your Ride", "Create", "CustomerModels")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Join Us", "Join", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>


                    @*<li>@Html.ActionLink("View list of customers", "index", "CustomerModels")</li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documents <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">User Guidelines</a></li>
                            <li><a href="#">Driver Guidelines</a></li>
                            <li><a href="#">Driver Application</a></li>
                            <li><a href="#">Telefone Duty Guidelines</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Board Of Directors</a></li>
                            <li class="divider"></li>
                            <li><a href="#">More About Us</a></li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JHC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
